.header{
    color:black;
    border-radius: 5px;
    text-align: center;
    background-color: aqua;
}
body{
    background-color: darkgoldenrod;
    color: yellow;
}
img{
    border-radius: 5px;
}
h2{
    color: aqua;
}
.devour{
    color: aqua;
    background-color: gray;
    transform: scale(.8);
    border-radius: 7px;
}